.form--main-div {
  padding: 0 80px;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 174, 1) 0%,
    rgba(225, 177, 228, 1) 100%
  );
  flex-direction: column;
}
.form--main-div form {
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: 2px 2px 15px rgb(0 0 0 / 20%);
  padding: 50px;
  border-radius: 10px;
  background: #fff;
  min-height: 500px;
  justify-content: center;
}

.form--main-div form h4 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.form--main-div form input {
  height: 50px;
  border: none;
  background: radial-gradient(
    circle,
    rgba(238, 174, 174, 1) 0%,
    rgba(225, 177, 228, 1) 100%
  );
  margin: 20px 0 10px 0;
  padding: 0 20px;
  border-radius: 5px;
  outline: none;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.form--main-div form input::-webkit-input-placeholder {
  color: #000;
  font-family: "Poppins", sans-serif;
}

.form--error-message {
  font-size: 12px;
  color: red;
  padding: 0 10px;
  margin: 0;
}
.form--main-div form button {
  background-color: #ff6d71;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
